.container {
  display: block;
  width: 132px;
  padding: 5px 12px 0 12px;
  background: rgba(48, 45, 45, 0.34);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 12px;
  text-decoration: none;
}

.button_content {
  display: flex;
  /* padding-top: ; */
}
.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
}
.icon img {
  width: 24px;
  height: 24px;
}

.textBlock {
  font-family: "Teko", sans-serif;
  color: rgb(255, 255, 255, 0.34);
}
.textBlock:first-child {
  font-size: 12px;
}
.name {
  font-family: "Teko", sans-serif;
  color: rgb(255, 255, 255, 0.34);
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100px;
  }
  .textBlock:first-child {
    font-size: 10px;
  }
  .name {
    font-size: 14px;
  }
}
